[submodule "crystal_constructor/external/glfw"]
	path = crystal_constructor/external/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "crystal_constructor/external/glad"]
	path = crystal_constructor/external/glad
	url = https://github.com/Dav1dde/glad
	branch = c
[submodule "crystal_constructor/external/glm"]
	path = crystal_constructor/external/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "crystal_constructor/external/imgui"]
	path = crystal_constructor/external/imgui
	url = https://github.com/ocornut/imgui
	branch = master
